@use "../../../scss/abstract/" as *;

textarea:focus,
input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.signIn-container {
  // background-color: #edf5f0;
  height: 100vh;
}
.register-para {
  margin-top: 0px;
  padding: 2%;
  padding-bottom: 0px;
  text-align: end;
}
.center-container {
  background-color: #edf5f0;
  margin-top: 3%;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: space-around;
}
.leftside-container {
  background-color: white;
  width: 100%;
  border-right: 1px solid #e1f1e7;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.innerside {
  padding: 10%;
}
.signin-header {
  margin-top: 23%;
  font-size: 24px;
}
.signin-number {
  margin-top: 10%;
  font-size: 16px;
}
.number-container {
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5%;
}
.default-content {
  width: 7%;
  border: none;
  margin-left: 4px;
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 16px;
}
.input-field-number {
  width: "90%";
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 3%;
}
.signin-btn {
  width: 100%;
  padding: 3%;
  background-color: #83d09f;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  margin-top: 5%;
}
.rightside-container {
  background-color: white;
  width: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 2%;
}
.image-pic {
  width: 100%;
}
.signin-username {
  font-size: 16px;
  margin-top: 5%;
  margin-bottom: 2%;
}
.password-eye-icon {
  width: 7%;
  @include mdBreakPoint {
    width: 13%;
  }
  @include lgBreakPoint {
    width: 10%;
  }
  @include xsBreakPoint{
    width: 13%;
  }
}
.user-container {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5%;
  display: flex;
  justify-content: space-between;
}
.input-field-user {
  width: 100%;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 2%;
}
.eye-close {
  width: 90%;
  margin-top: 7px;
}

.err-forgot {
  // display: flex;
  .forgot {
    float: right;
    color: #03c4ad;
    cursor: pointer;
  }
  .err-msg {
    margin-top: 10px;
  }
}
