// .signIn-container {
@use "../../../scss/abstract/" as *;

.otp-para {
  margin-bottom: 0%;
}
.otp-section {
  background-color: #B3E0EE;
  display: flex;
  width: 150px;
  border-radius: 5px;
  padding: 0.5%;
  .mobile-numberotp {
    margin-bottom: 0;
  }
  .vector-icon {
    margin-top: 0;
    margin-left: 6%;
  }
}
.otp-main-input {
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  .otp-input {
    input{
      width: 44px !important;
    border-radius: 10px !important;
    height: 44px !important;
    border: 1px solid #0395C4 !important;
    text-align: center !important;
    margin-right: 20px !important;
    @include mdBreakPoint{
      width: 34px !important;
      height: 34px !important;
    }
    @include xsBreakPoint{
      width: 34px !important;
      height: 34px !important;
    }
    }
  }
}
// }

.dta-otp {
  width: 52px !important;
  height: 32px !important;
  text-align: center !important;
  margin-right: 20px !important;
}
