// style={{ width: "100%", backgroundColor: "#F5F5F5" }}
.change-password {
  width: 100%;
  background-color: #f5f5f5;
  .change-password-hr {
    border-top: 2px solid #0197c6;
  }
}

// style={{ borderTop: "2px solid #0197c6" }}
