// style={{ width: "100%", padding: "1%", paddingTop: "0.5%" }}
.change-password-content {
  width: 100%;
  padding: 1%;
  padding-top: 0.5%;
  //   style={{ backgroundColor: "white", borderRadius: "10px" }}
  .change-password-content-main {
    background-color: white;
    border-radius: 10px;
    // style={{ padding: "2%" }}
    .change-password-content-body {
      padding: 2%;
      //   style={{ fontSize: "16px", fontWeight: 500 }}
      .form-label {
        font-size: 16px;
        font-weight: 500;
      }
      //   style={{ padding: "2%", border: "1px solid gray" }}
      .form-control {
        padding: 2%;
        border: 1px solid gray;
      }
      //   .style={{ fontSize: "16px", fontWeight: 500 }}
      .form-lebel1 {
        font-size: 16px;
        font-weight: 500;
      }
      //   d-flex
      .password-feild {
        display: flex;
        // style={{ padding: "2%", border: "1px solid gray" }}
        .password-form-control {
          padding: 2%;
          border: 1px solid gray;
          width: 100%;
        }
      }
      //   ......style={{ fontSize: "16px", fontWeight: 500 }}
      .password-retype {
        font-size: 16px;
        font-weight: 500;
      }
      //   style={{ display: "flex" }}
      .password-new {
        display: flex;
        // style={{ padding: "2%", border: "1px solid gray" }}
        .password-form {
          padding: 2%;
          border: 1px solid gray;
        }
        // .{{ marginLeft: "-8%" }}
        .password-img {
          margin-left: -8%;
        }
      }
      //   style={{
      //     backgroundColor: "#0395C4",
      //     color: "white",
      //     width: "88px",
      //     borderRadius: "25px",
      //     height: "45px",
      //     border: "none",
      //   }}
      .password-change-btn {
        background-color: #0395c4;
        color: white;
        width: 88px;
        border-radius: 25px;
        height: 45px;
        border: none;
      }
      //   style={{
      //     backgroundColor: "white",
      //     color: "#0395C4",
      //     width: "88px",
      //     borderRadius: "25px",
      //     height: "45px",
      //     border: "1px solid #0395C4",
      //     marginLeft: "2%",
      //   }}
      .password-cancel {
        background-color: white;
        color: #0395c4;
        width: 88px;
        border-radius: 25px;
        height: 45px;
        border: 1px solid #0395c4;
        margin-left: 2%;
      }
    }
  }
}
