// style={{
//     marginBottom: "0px",
//     marginTop: "10%",
//     fontSize: "24px",
//     fontWeight: "700",
//   }}
.task-password {
  margin-bottom: 0px;
  margin-top: 10%;
  font-size: 24px;
  font-weight: 700;
}
// style={{ cursor: "pointer" }}
.rightside-taskcontainer {
  cursor: pointer;
  //   style={{ marginTop: "-3%" }}
  .rightside-dropdown {
    margin-top: -3%;
    // style={{
    //     backgroundColor: "transparent",
    //     border: "transparent",
    //   }}
    .rightside-dropdown-toggle {
      background-color: transparent;
      border: transparent;
    }
  }
  //   ...style={{ marginTop: "-3%" }}
  .rightside-dropdown1 {
    margin-top: -3%;
    // style={{
    //     backgroundColor: "transparent",
    //     border: "transparent",
    //   }}
    .dropdown-toggle {
      background-color: transparent;
      border: transparent;
    }
    // style={{ width: "310px", marginLeft: "-250px" }}
    .dropdown-menu {
      width: 310px;
      margin-left: -250px;
      //   style={{
      //     paddingLeft: "5%",
      //     fontSize: "18px",
      //     fontWeight: "600",
      //     paddingRight: "5%",
      //   }}
      .contents {
        padding: 5%;
        font-size: 18px;
        font-weight: 600;
        padding-right: 5%;
        // style={{ display: "flex", justifyContent: "space-between" }}
        .contents-admin {
          display: flex;
          justify-content: space-between;
          // style={{ marginBottom: "0px" }}
          .contents-para {
            margin-bottom: 0px;
          }
          //   style={{ marginBottom: "0px" }}
          .contents-time {
            margin-bottom: 0px;
          }
        }
        // ...style={{ marginBottom: "0px", fontSize: "17px" }}
        .contents-upload {
          margin-bottom: 0px;
          font-size: 17px;
        }
      }
      //   ... style={{
      //     marginTop: "5px",
      //     borderTop: "2px solid gray",
      //     marginBottom: "5px",
      //   }}
      .contents-hr {
        margin-top: 5px;
        border-top: 2px solid gray;
        margin-bottom: 5px;
      }
      //   style={{
      //     paddingLeft: "5%",
      //     fontSize: "18px",
      //     fontWeight: "600",
      //     paddingRight: "5%",
      //   }}
      .contents-chemistry {
        padding-left: 5%;
        font-size: 18px;
        font-weight: 600;
        padding-right: 5%;
        // style={{ display: "flex", justifyContent: "space-between" }}
        .contents-chemistry-main {
          display: flex;
          justify-content: space-between;
          //   style={{ marginBottom: "0px" }}
          .contents-chemistry-para {
            margin-bottom: 0px;
          }
          //   style={{ marginBottom: "0px" }}
          .contents-chemistry-time {
            margin-bottom: 0px;
          }
        }
        // ...style={{ marginBottom: "0px", fontSize: "17px" }}
        .contents-chemistry-upload {
          margin-bottom: 0px;
          font-size: 17px;
        }
      }
      //   ..style={{
      //     marginTop: "5px",
      //     borderTop: "2",
      //     marginBottom: "5px",
      //   }}
      .contents-chemistry-hr {
        margin-top: 5px;
        border-top: 2px solid gray;
        margin-bottom: 5px;
      }
      //   style={{
      //     paddingLeft: "5%",
      //     fontSize: "18px",
      //     fontWeight: "600",
      //     paddingRight: "5%",
      //   }}
      .contents-upload {
        padding-left: 5%;
        font-size: 18px;
        font-weight: 600;
        padding-right: 5%;
        // style={{ display: "flex", justifyContent: "space-between" }}
        .contents-upload-para {
          display: flex;
          justify-content: space-between;
          //   style={{ marginBottom: "0px" }}
          .contents-upload-detail {
            margin-bottom: 0px;
          }
          //   style={{ marginBottom: "0px" }}
          .contents-upload-time {
            margin-bottom: 0px;
          }
        }
        // ..style={{ marginBottom: "0px", fontSize: "17px" }}
        .contents-upload-data {
          margin-bottom: 0px;
          font-size: 17px;
        }
      }
      //   ..style={{
      //     marginTop: "5px",
      //     borderTop: "2px solid gray",
      //     marginBottom: "5px",
      //   }}
      .contents-upload-hr {
        margin-top: 5px;
        border-top: 2px solid gray;
        margin-bottom: 5px;
      }
      //   style={{
      //     fontSize: "18px",
      //     fontWeight: "600",
      //     color: "#0395C4",
      //     paddingLeft: "5%",
      //     marginBottom: "5px",
      //   }}
      .contents-view {
        font-size: 18px;
        font-weight: 600;
        color: #0395c4;
        padding-left: 5%;
        margin-bottom: 5px;
      }
    }
  }
}
// d-flex justify-content-center
.changes-popup {
  display: flex;
  justify-content: center;
}
.changes-name {
  display: flex;
  justify-content: center;
}
.changes-email {
  display: flex;
  justify-content: center;
}
